* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body {
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-size: 15px;
}

/*---------- Navbar ----------*/
.navbar,
.navbar__nav--right__link {
    color: #fff;
}
.navbar {
    background-color: #00344F;
    padding: 6px 15px;
}

.navbar__nav--left {
    display: none;
}

.navbar__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar__nav--right {
    font-size: 13px;
}
.navbar__nav--right__link  {
    text-decoration: none;
    border-left: 1px solid #fff;
    padding-left: 4px;
}

/*---------- Header ----------*/
.header {
    background-color: #F6F6F6;
    padding: 20px;
}

.header__container {
    margin: 0 auto;
}

.header__mobile__icon {
    width: 14px;
    height: 2px;
    background-color: #00344F;
    margin: 3px 0;
  }

.header__logos__desc__trademark {
    content: "\00AE";
}

.header__mobile {
    display: flex;
    justify-content: space-between;
    align-items: center
}
.header__logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header__logos__link {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    width: 90%;
    justify-content: center;
}
.header__logos__logo_1 {
    width: 9%;
    padding-right: 5px;
}

.header__logos__logo_2 {
    width: 85%;
}
.header__logos__desc {
    width: 70%;
    color: #094B6D;
}

/*---------- Banner ----------*/

.ad-banner {
    padding: 20px;
    text-align: center;
}

.ad-banner__img {
    max-width: 100%;
    height: auto;
}

/*---------- Events ----------*/

.events {
    background-color: #F6F6F6;
    padding: 20px;
}

.events__title {
    color: #000;
    font-size: 33px;
    font-weight: 700;
    padding: 15px 0;
}
.events__square::before {
    content: '\25A0';
    padding-right: 27px;
    font-size: 25px;
    color: #094B6D;
    line-height: 33px;
    vertical-align: top;

}
.events__cards,
.events__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.events__cards {
    padding: 10px;
}
.events__card {
    flex-direction: column;
    align-items: center;
    border: 1px solid #eee;
    max-width: 221px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
}
.events__card__txt {
    color: #FA9B00;
    font-size: 12px;
    font-weight: 700;
    width: 100%;
    text-align: left;
}
.events__card__img-container {
    /*height: 123px;*/
    height: 138px;
    max-width: 192.5px;
    display: flex;
    align-items: center;
}
.events__card__img {
    width: 100%;
}
.events__card__date {
    font-weight: 700;
    font-size: 16px;
    line-height: 22.4px;
    text-align: center;
    color: #000;
    min-height: 66px;
}
.events__card__cta-container {
    margin: 10px 0;
}
.events__card__cta {
    font-size: 12px;
    color: #094B6D;
}

.events__card__cta__arrow-left::after {
    content: '\25ba';
    padding-left: 5px;
    font-size: 7px;
    color: #094B6D;
}